/* global styles */

:root {
	--primary-colour: rgba(255, 255, 255, 0.842);
	--dark-primary-colour: rgb(255, 0, 0);
	--darker-primary-colour: rgb(207, 0, 0);
	--secondary-colour: rgb(198, 202, 237);
}

/* padding */

.p {
	padding: 0.5rem;
}

.p--1 {
	padding: 1rem;
}

.p--2 {
	padding: 2rem;
}

.p--3 {
	padding: 3rem;
}

.py {
	padding: 0.5rem 0;
}

.py--1 {
	padding: 1rem 0;
}

.py--2 {
	padding: 2rem 0;
}

.py--3 {
	padding: 3rem 0;
}

.ptop {
	padding-top: 0.5rem;
}

.p-no-top {
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 1rem;
}

/* margin */

.m--0 {
	margin: 0px;
}

.m {
	margin: 0.5rem;
}

.m--1 {
	margin: 1rem;
}

.m--2 {
	margin: 2rem;
}

.m--3 {
	margin: 3rem;
}

.my {
	margin: 0.5rem 0;
}

.my--1 {
	margin: 1rem 0;
}

.my--2 {
	margin: 2rem 0;
}

.my--3 {
	margin: 3rem 0;
}

.m--auto {
	margin: auto;
}

/*  text sizes */

.text--medium {
	font-size: 1.5rem;
}

.text--xmedium {
	font-size: 1.75rem;
}

.text--large {
	font-size: 2rem;
}

.text--xlarge {
	font-size: 2.5rem;
}

.text--xxlarge {
	font-size: 3rem;
}

/*  text */

.text--centered {
	text-align: center;
}

/* layout */

.background {
	position: relative;
	background: url("./img/screen-watching-background.jpg") no-repeat center center;
	background-attachment: fixed;
	background-size: cover;
	height: 100vh;
	color: white;
}

.landing--overlay {
	max-width: 27rem;
	position: relative;
	top: 20%;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 0.6rem;
}

.register--container {
	max-width: 27rem;
	position: relative;
	top: 20%;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 0.6rem;
}

/* buttons */

.button {
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	border: none;
	/* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.button--primary {
	background: var(--dark-primary-colour);
	color: white;
}

.button--primary:hover {
	background: var(--darker-primary-colour);
}

select {
	font-size: 16px;
	line-height: 1;
	height: 34px;
	background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png)
		no-repeat right #ddd;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-position-x: 23.4rem;
	background-color: white;
}

/* forms */

.display--flex {
	display: flex;
}

.form .form--group {
	margin: 1.2rem 0;
	padding: 0;
}

.form .form--text {
	display: block;
	margin-top: 0.3rem;
	color: #888;
}

.form .form--placeholder {
	font-size: 14px;
	display: flex;
	padding-left: 0.4rem;
	padding-top: 0.23rem;
	background-color: white !important;
	color: black;
}

.form .form--input {
	border: none;
	display: block;
	width: 100%;
	padding-right: 0.4rem;
	padding-left: 0.4rem;
	padding-bottom: 0.4rem;
	padding-top: 0.1rem;
	font-size: 1.2rem;
	margin: 0px;
	min-height: 0px;
	min-width: 0px;
}

.form .form--input:focus {
	outline: none;
}

.form .form--input:-webkit-autofill,
.form .form--input:-webkit-autofill:hover,
.form .form--input:-webkit-autofill:focus,
.form .form--input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px white inset !important;
}

.form label,
.form select,
.form textarea {
	display: block;
	width: 100%;
	padding: 0.4rem;
	font-size: 1.2rem;
	border: 1px solid #ccc;
	margin: 0px;
	min-height: 0px;
	min-width: 0px;
	outline: none !important;
}

.register-form--checkbox {
	border: none !important;
	padding: 0 !important;
	padding-bottom: 1.2rem !important;
}
